.buttonEdit{
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: .5rem;
  /* padding: .3125rem .625rem; */
  font-size: 1.1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.buttonEdit:hover{
  cursor: pointer;
  background-color: var(--red-dark);
}

.color{
  color: var(--white);
}
