.labels{
  text-align: left;
}

.asteric{
  color: var(--red);
}

.inputs{
  display: block;
  border: solid 1px var(--gray); 
  border-radius: .5rem;
  padding: .25rem .6875rem .25rem;
  width: 14.3125rem;
  height: 2.75rem;
  font-size: 14px;
}

.inputs:focus{
  border: solid 1px #4096ff !important;
  outline: none !important;
}