.labels{
  text-align: left;
}

.asteric{
  color: var(--red);
}

.inputs{
  display: block;
  border: solid 1px var(--gray); 
  border-radius: .5rem;
  padding: 4px 11px;
  width: 13rem;
  height: 2rem;
}

.inputs:focus{
  border: solid 1px #4096ff !important;
  outline: none !important;
}