#code{
  width: 6.3125rem;
}

#name{
  width: 7rem;
}


#active{
  width: 3rem;
  background-color: white;  
  border-color: transparent;
}

#edit{
  width: 4.5625rem;
}

#email{
  width: 11rem;
}

#code,
#name,
#email{
  /* width: 11.9375rem; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuGrant{
  margin-top: 6rem;
  position: relative;
}

.comboboxes{
  display: block;
}

.comboboxes{
  width: 14.3125rem;
  height: 2.75rem;
  font-size: .9375rem;
}

.contentTitles{
  width: 100%;
  & h3{
    font-weight: 500;
    font-size: 1.375rem;
    color: var(--red);
  }
  & p{
    font-weight: 300;
    font-size: 15px;
  }
}
.marginTable{
  margin-top: 1.625rem;
  text-align: left;
}

.buttonImport{
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1.25rem;
  margin-right: 1.75rem;
}

.buttonLoad{
  border-radius: .3125rem;
  background-color: var(--gray);
  color: var(--gray-dark);
}

.buttonCancel{
  color: var(--red);
}

.buttonCancel{
  background-color: var(--white);
  border: solid 1px var(--gray);
}

.buttonSearch{
  padding-inline: .6875rem;
}

.buttonSave,
.buttonImport,
.buttonSearch{
  background-color: var(--red);
  color: var(--white);
  border: none;
}

#code,
#name,
#email,
#active,
#edit{
  display: block;
  height: 2.375rem;
  margin: auto;
}

.buttonLoad{
  width: 11.25rem;
  border-color: transparent;
  transition: box-shadow 0.3s ease-in-out; /* Suaviza la transición */
}

.buttonSave, 
.buttonCancel{
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.buttonSave,
.buttonCancel,
.buttonImport{
  height: 1.875rem;
  width: 5.625rem;
}

.buttonSave,
.buttonCancel,
.buttonImport,
.buttonSearch{
  border-radius: .5rem;
}

/* Son pseudoClases */
.buttonCancel:hover{
  color: var(--white);
}

.buttonSave:hover, 
.buttonCancel:hover, 
.buttonImport:hover,
.buttonSearch:hover{
  cursor: pointer;
  background-color: var(--red-dark);
}

.buttonLoad:hover{
  cursor: pointer;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5),
  inset -1px -1px 3px rgba(0, 0, 0, 0.1);
}