/* module.css */

.menuGrant{
  margin-top: 6rem;
  position: relative;
}

.inputs{
  display: block; 
}

.labels{
  text-align: left;
}

.comboboxes{
  display: block;
}

.contentTitles{
  width: 100%;
}

.buttonImport{
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1.25rem;
  margin-right: 1.75rem;
}

.buttons{
  background-color: var(--red);
  color: var(--white);
  border: none;
}

.buttonCancel{
  background-color: var(--white);
  color: var(--red);
  border: solid 1px var(--gray);
}

.buttons, .buttonCancel{
  height: 3ex;
  width: 10ch;
}

.buttons:hover, .buttonCancel:hover{
  cursor: pointer;
  background-color: var(--red-dark);
}

.buttonCancel:hover{
  color: var(--white);
}