.menuGrant{
  margin-top: 6rem;
  position: relative;
}

.inputs{
  display: block;
  border: solid 1px var(--gray); 
  border-radius: .5rem;
  padding-left: .8125rem;
}

.labels{
  text-align: left;
}

.comboboxes{
  display: block;
}

.inputs, .comboboxes{
  width: 14.3125rem;
  height: 2.75rem;
}

.contentTitles{
  width: 100%;
}

.buttonImport{
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1.25rem;
  margin-right: 1.75rem;
}

.buttonCancel{
  background-color: var(--white);
  color: var(--red);
  border: solid 1px var(--gray);
}

.buttonCancel:hover{
  color: var(--white);
}

.buttonSave,
.buttonImport{
  background-color: var(--red);
  color: var(--white);
  border: none;
}

.buttonSave, .buttonCancel{
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.buttonSave,
.buttonCancel,
.buttonImport{
  height: 1.875rem;
  width: 5.625rem;
  border-radius: .5rem;
}

.buttonSave:hover, 
.buttonCancel:hover, 
.buttonImport:hover{
  cursor: pointer;
  background-color: var(--red-dark);
}
