.pseudoTableHeader{
  background-color: #CFCFCF;
}

.subtitleTable,
.pseudoTableHeader{
  width: 100%;
  margin: 0;
  padding-left: .625rem;
}

.card{
  width: 100%;
  max-width: 600px;
  margin-top: 0;
  padding: 10px;
}

.table{
  width: 100%;
}

.contentTitle{
  margin-top: 100px;
  & h1{
    font-weight: bold;
  }
}

.paddingBtn{
  padding-top: 2px;
}

.searchInput{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.assistance{
  font-size: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
}