@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
  --red:'#C20E1A',
  --red-dark: '#841F1C',
  --gray-dark:'#636363',
  --gray:'#CFCFCF',
  --blue:'#3D5AA2',
  --white:'#f4f4f4' 
}

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilo para el contenedor principal */
.main-student-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

/* Título centrado */
.main-student-view h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

/* Contenedor de iconos */
.icon-container {
  display: flex;
  gap: 6rem; /* Espacio entre los iconos */
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

/* Estilo para los textos debajo de los iconos */
.icon-circle-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  display: block;
}

#univalle-logo-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.becas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
  color: var(--red); /* Ajusta según sea necesario */
}

.becas-section h1,
.becas-section p {
  margin-bottom: 2rem; /* Margen entre el título, párrafo y el menú */
  text-align: center; /* Asegúrate de que el texto esté centrado */
}

.menu-becas {
  margin: 0; /* Margen inferior para el menú */
}

.buttons{
  padding: 10px 20px;
  margin: 0 5px;
  background-color: var(--red);
  color: 'white';
  border: 2px solid var(--red);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}