@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --red: #C20E1A;
  --red-dark: #841F1C;
  --gray-dark: #636363;
  --gray: #CFCFCF;
  --blue: #3D5AA2;
  --white: #f4f4f4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-red {
  color: var(--red);
}

.text-left {
  text-align: left;
}

.bg-dark-gray {
  background-color: var(--gray-dark);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilo para el contenedor principal */
.main-student-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

/* Título centrado */
.main-student-view h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

/* Contenedor de iconos */
.icon-container {
  display: flex;
  gap: 6rem;
  /* Espacio entre los iconos */
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

/* Estilo para los textos debajo de los iconos */
.icon-circle-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  display: block;
}

#univalle-logo-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.becas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
  color: var(--red);
  /* Ajusta según sea necesario */
}

.citas-section h1 {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: #C20E1A;
  font-weight: bold;
}

.becas-section h1 {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: #C20E1A;
  font-weight: bold;
}


p {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: black;
}

.psicologia-section h1 {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: #C20E1A;
  font-weight: bold;
}

.enfermeria-section h1 {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: #C20E1A;
  font-weight: bold;
}

.odontologia-section h1 {
  margin-bottom: 2rem;
  /* Margen entre el título, párrafo y el menú */
  text-align: center;
  color: #C20E1A;
  font-weight: bold;
}

.menu-becas {
  margin: 0;
  /* Margen inferior para el menú */
}

.buttons {
  background-color: var(--red);
  color: white;
  border: none;
  height: 30px;
  width: 90px;
}

.button-save {
  background-color: #C20E1A !important;
  /* Fondo rojo */
  color: #FFFFFF !important;
  /* Texto blanco */
  border: none !important;
  height: 30px;
  width: 149px;
  font-size: 16px;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.button-save:hover {
  background-color: #841F1C !important;
  /* Fondo rojo oscuro al hacer hover */
  color: #FFFFFF !important;
  /* Texto sigue siendo blanco */
}

.button-pay {
  background-color: #52C41A !important;
  /* Fondo rojo */
  color: #FFFFFF !important;
  /* Texto blanco */
  border: none !important;
  height: 30px;
  width: 149px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-pay:hover {
  background-color: #3E9215 !important;
  /* Fondo rojo oscuro al hacer hover */
  color: #FFFFFF !important;
  /* Texto sigue siendo blanco */
}

/* Cambia el color del borde*/
.invalid {
  border: 1px solid red !important;
}

/* Estilos ajustados para forzar el cambio */
.button-cancel {
  background-color: #FFFFFF !important;
  color: #C20E1A !important;
  border: 1px solid #C20E1A !important;
  height: 30px;
  width: 149px;
  font-size: 16px;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-actionsGeneral {
  background-color: #FFFFFF !important;
  color: black !important;
  height: 30px;
  width: 149px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-actionsGeneral:hover {
  background-color: #CFCFCF !important;
  /* Fondo rojo oscuro al hacer hover */
  color: black !important;
  /* Texto sigue siendo blanco */
}

.button-cancel:hover {
  background-color: #841F1C !important;
  color: #FFFFFF !important;
}

/* Titulos dentro de las cards */
.titleCard {
  color: #C20E1A;
  /* Color del texto */
  font-size: 22px;
  /* Tamaño de fuente */
  font-weight: normal;
  /* Tamaño regular */
  margin: 0;
  /* Elimina el margen por defecto */
}

.descriptions-item {
  font-size: 16px;
  /* Tamaño del texto */
  width: 200px;
  /* Ancho de la fila */
  background-color: #f9f9f9;
  /* Color de fondo */
  padding: 10px;
  /* Espaciado interno */
  border: 1px solid #d9d9d9;
  /* Borde */
  border-radius: 8px;
  /* Bordes redondeados */
  margin-bottom: 10px;
  /* Espaciado entre filas */
  font-weight: normal;
  /* Eliminar negrita */
}

.descriptions-title {
  font-weight: bold;
  /* Texto en negrita para el título */
  color: #C20E1A;
  /* Color personalizado para el título */
}

/* Permite a un elemento mantenerse oculto pero ocupando el espacio
que debería ocupar si no lo estuviera */
.visibility-hidden {
  visibility: hidden;
}


/* Tabla para citas*/
/* Estilos para los encabezados (primera fila) */
/* Estilos para los encabezados (primera fila) */
.red-header {
  background-color: #841F1C !important;
  /* Fondo rojo */
  color: white !important;
  /* Texto blanco */
  font-size: 19px !important;
  /* Tamaño de letra */
  text-align: center;
  /* Alineación del texto */
  padding: 12px 16px !important;
  /* Mayor espacio interno para mejorar el diseño */
  font-weight: bold;
  /* Hacer el texto más grueso */
  border-radius: 5px 5px 0 0;
  /* Bordes redondeados solo en la parte superior */
}


/* Diseño para pantallas pequeñas */
@media (max-width: 768px) {
  .becas-section {
    margin-top: 50px;
    padding: 10px;
    /* Reduce el padding para dispositivos móviles */
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* Asegúrate de que las tablas puedan desplazarse en pantallas pequeñas */
  table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  /* Aumenta el espacio entre los botones para evitar solapamiento en móviles */
  .button-save,
  .button-cancel
  .button-pay {
    width: 100%;
    /* Aumenta el ancho de los botones en pantallas pequeñas */
    margin-bottom: 10px;
  }
}

/* Diseño para pantallas grandes */
@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  article {
    width: 100%;
    min-width: unset;
    /* Elimina el ancho mínimo en pantallas muy pequeñas */
  }
}

@media (max-width: 600px) {
  .header-cell {
    font-size: 1.5rem;
    /* Cambia este tamaño según sea necesario */
  }
}

@media (min-width: 601px) {
  .header-cell {
    font-size: 1.125rem;
    /* Tamaño para pantallas más grandes */
  }
}
